@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Tilt+Prism&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Tilt+Prism&display=swap');

body{

    
    font-family: Audiowide,Quantico;
    color: #9FFFCF;
    background-image: url(../Images/northern_lights_cropped.png);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: repeat;
    margin-left: 10%;
    margin-right: 10%;

    font-size: 20px;
    letter-spacing: 1px;
    text-shadow:  2px 2px 10px rgb(0, 0, 0);

}

p{
    font-size: larger;
    letter-spacing: 1px;
}
ul,ol{
    
    list-style-image: url('../Images/arrow_small.png');
    list-style-position: inside;
    list-style-type:square ;

}
table{
    text-align: center;
    border: 3px solid #00f7ff;
    border-radius: 20px;
    border-collapse: collapse;
    margin-left:9%;

}
th,td{
    border: 2px solid #00ffbf;
    padding: 10px,10px,10px,10px;
    border-radius: 10px;

}
img,iframe{
    height:60%;
    margin:10% 0% 15% 15%;
}
video{
    max-width: 600px; 
    max-height: fit-content;
}
div.tablecontainer {
    overflow-x: auto;
}
h1,h2{
    color:#00EF4D;
}

p{
    color:#a1fff4;
}

header{
    display: inline-block;
}
footer{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 2%;
    border-top: 2px solid #00f7ff;
    padding-top: 1%;    
}
footer, header{
    font-size: large;
}
/*Lists don't work well with just a text align*/
.align{
    text-align: center;
}
/* Thanks to ChatGPT for helping with centering this nav bar code */
/* Center navigation lists horizontally and make them inline */
header nav {
    text-align: center; /* center the inline-block UL */
}

header nav ul {
    display: inline-block; /* shrink to content so centering works */
    margin: 0; /* remove default left indent */
    padding-left: 0; /* remove browser default padding */
    list-style-position: inside;
}

header nav ul li {
    display: inline-block; /* place links horizontally */
    margin: 0 12px; /* spacing between items */
}
/*End nav bar centering code */

/* unvisited link */
a:link {
    color: #00CAF0;
}

/* visited link */
a:visited {
    color: #16ff16;
}

/* mouse over link */
a:hover {
    color: #01F4F0;
}

/* selected link */
a:active {
    color: #8ba2ff;
}
