@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Tilt+Prism&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Tilt+Prism&display=swap');

body{

    
    font-family: Audiowide,Quantico;
    color: #EFBC00;
    background-image: url(../Images/northern_lights.avif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-x;
    margin-left: 20%;
    
    text-shadow:  2px 2px 10px rgb(0, 0, 0);

}
ul,ol{
    
    list-style-image: url('../Images/arrow_small.png');
    list-style-position: inside;
    list-style-type:square ;

}
img,iframe{
    height:40%;
    margin:10% 0% 15% 15%;
}

h1,h2{
    color:#00EF4D;
}

p{
    color:#a1fff4;
}

header{
    display: inline-block;
}
footer, header{
    font-size: large;
}
/*Lists don't work well with just a text align*/
.align{
    text-align: center;
}
/* unvisited link */
a:link {
  color: #00CAF0;
}

/* visited link */
a:visited {
  color: rgb(0, 255, 55);
}

/* mouse over link */
a:hover {
    color: #01F4F0;
}

/* selected link */
a:active {
    color: #eeff00;
}
